.main-about {
    padding: 20px 0;
}
.content-left > div {
    padding: 30px 10px;
}
.content-left {
    width: 60%;
}
.content-right {
    width: 30%;
}
.content-right .card-dark {
    padding:10px 20px 15px 20px ;
}
.card-white {
    background-color: #fff;
}
.card-dark {
    background-color: #333;
    color: #fff;
}